<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>404</title>
	<link rel="stylesheet" href="../../static/css/error/dmaku.css">
</head>
<body>
	<div id="page-wrapper">
		<div class="page-blank-wrap">
			<div class="site-error">
				<h1 class="headline"><img src="../../static/images/error/404.png" alt="404"></h1>
				<div class="error-content">
					<h4>海面雾气太大</h4><h4>受天气影响，该页无法正常显示</h4>
                    <h4>具体原因如下：{{info}}</h4>
					<h5> 你可以 <a href="{{url_for('admin.welcome')}}">返回首页</a> 。</h5>
				</div>
				<img src="../../static/images/error/error-bg.png" style="padding:20px 0 120px;">
			</div>
		</div>
	</div>

</body></html>
