{% include "common_header.html" %}
<title>{% block title %}添加用户{% endblock %}</title>
{% block header %}{% endblock %}

<body>
{% block head %}{% endblock %}

<h1>{% block page_title %}添加用户{% endblock %}</h1>

{% block main_content %}

<article class="page-container">
	<div class="form form-horizontal" id="form-admin-add" >

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>用户名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="用户名" id="username" name="username"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="用户名" id="password" name="password"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>email：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="用户名" id="email" name="email"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>phone：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="phone" id="phone" name="phone"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>全称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="全称" id="fullname" name="fullname"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>状态：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="状态" id="status" name="status"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>权限等级：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="权限等级" id="role_id" name="role_id"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="备注" id="remark" name="remark"/>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>注册时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="注册时间" id="reg_time" name="reg_time"/>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button id="submit" neme="submit" class="btn btn-primary radius" onclick="danji()" type="submit">提交</button>
            </div>
        </div>
	</div>
</article>


{% endblock %}
{% include "common_footer.html" %}
{% block footr_css_js %}

<!--_footer 作为公共模版分离出去-->

<script src="{{ url_for('static',filename='js/jquery/1.9.1/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/layer/2.4/layer.js') }}"></script>
<script src="{{ url_for('static',filename='js/h-ui/js/H-ui.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/h-ui.admin/js/H-ui.admin.js') }}"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script src="{{ url_for('static',filename='js/My97DatePicker/4.8/WdatePicker.js') }}"></script>
<script src="{{ url_for('static',filename='js/datatables/1.10.0/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/laypage/1.2/laypage.js') }}"></script>

<script type="text/javascript">
    /*从cookie中获取csrf_token*/
    function danji(){
        var username = $("#username").val();
        var password = $("#password").val();
        var email = $("#email").val();
        var phone = $("#phone").val();
        var fullname = $("#fullname").val();
        var status = $("#status").val();
        var role_id = $("#role_id").val();
        var remarks = $("#remark").val();
        var reg_time = $("#reg_time").val();

        $.ajax({
            type: 'POST',
            url: "{{ url_for('admin.admin_user_add') }}",
            data : {
                username:username,
                password:password,
                email:email,
                phone:phone,
                fullname:fullname,
                status:status,
                role_id:role_id,
                remarks:remarks,
                reg_time:reg_time,
            },
            success: function(data){
                if(data.status==200){
                layer.msg('已添加成功!',{icon:1,time:2000});
                var index = parent.layer.getFrameIndex(window.name);//关闭窗口
                setTimeout("parent.layer.closeAll()",1000);  // parent.layer.closeAll()方法有效
                }
                else {
                    layer.msg(data.msg)
                }
            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    }
</script>
{% endblock %}