<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="{{url_for('static',filename='/favicon.ico')}}" >
<link rel="Shortcut Icon" href="{{url_for('static',filename='/favicon.ico')}}" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{{url_for('static',filename='js/html5shiv.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/respond.min.js')}}"></script>
<![endif]-->


<link rel="stylesheet" href="{{url_for('static',filename='css/h-ui/css/H-ui.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/h-ui.admin/css/H-ui.admin.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/Hui-iconfont/1.0.8/iconfont.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/h-ui.admin/skin/default/skin.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/h-ui.admin/css/style.css')}}">


<!--[if IE 6]>
<script type="text/javascript" src="{{url_for('static',filename='js/DD_belatedPNG_0.0.8a-min.js')}}"></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
{% block head %}{% endblock %}
<title>{% block title %}dust - admin{% endblock %}

</title>

</head>
<body>
<header class="navbar-wrapper">
	<div class="navbar navbar-fixed-top">
		<div class="container-fluid cl">
            <a class="logo navbar-logo f-l mr-10 hidden-xs" href="{{url_for('admin.index')}}" >Dust</a>
			<span class="logo navbar-slogan f-l mr-10 hidden-xs">v1.1</span>
			<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>

		<nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
			<ul class="cl">
				<li class="dropDown dropDown_hover">
					<a href="#" class="dropDown_A">{{ user.username }} <i class="Hui-iconfont">&#xe6d5;</i></a>
					<ul class="dropDown-menu menu radius box-shadow">
						<li><a href="{{ url_for('admin.profile') }}">个人信息</a></li>
						<li><a href="{{ url_for('admin.editpwd') }}">修改密码</a></li>
						<li><a href="{{ url_for('login.logout') }}">注销</a></li>
                    </ul>
				</li>
			</ul>
		</nav>
	</div>
</div>
</header>
<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 用例管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{{url_for('admin.list_show')}}" data-title="用例管理" href="javascript:void(0)">用例管理</a></li>
					<li><a data-href="{{url_for('admin.list_show_report_index')}}" data-title="报告展示" href="javascript:void(0)">报告展示</a></li>
					<li><a data-href="{{url_for('admin.list_show_result')}}" data-title="测试结果展示" href="javascript:void(0)">测试结果展示</a></li>
					<li><a data-href="{{url_for('admin.list_task_model')}}" data-title="测试用例模板" href="javascript:void(0)">测试用例模板</a></li>
					<li><a data-href="{{url_for('admin.list_running')}}" data-title="测试用例执行" href="javascript:void(0)">测试用例执行</a></li>
                </ul>
			</dd>
		</dl>
    	<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{{url_for('admin.admin_permission')}}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
					<li><a data-href="{{url_for('admin.admin_role')}}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
					<li><a data-href="{{url_for('admin.admin_show_user')}}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-tongji">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 监控 <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{{url_for('admin.control_index')}}" data-title="系统信息统计" href="javascript:void(0)">系统信息统计</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理 <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{{url_for('admin.logs_login')}}" data-title="登录日志" href="javascript:void(0)">登录日志</a></li>
					<li><a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>
					<li><a data-href="{{url_for('admin.logs_analysis')}}" data-title="sql日志" href="javascript:void(0)">sql日志</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
	<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
		<div class="Hui-tabNav-wp">
			<ul id="min_title_list" class="acrossTab cl">
				<li class="active">
					<span title="欢迎页面" data-href="{{ url_for('admin.welcome') }}">欢迎页面</span>


					<em></em></li>
		    </ul>
	    </div>
		<div class="Hui-tabNav-more btn-group">
            <a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;">
                <i class="Hui-iconfont">&#xe6d4;</i>
            </a>
            <a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;">
                <i class="Hui-iconfont">&#xe6d7;</i>
            </a>
        </div>
	</div>
	<div id="iframe_box" class="Hui-article">
		<div class="show_iframe">
			<div style="display:none" class="loading"></div>
			{% block body %}
<div>这里是默认内容，所有继承自这个模板的，把您要呈现的内容放在这里。</div>
{% endblock %}

        {% block footer %}这是footer内容{% endblock %}
	</div>
</div>
</section>

<div class="contextMenu" id="Huiadminmenu">
	<ul>
		<li id="closethis">关闭当前 </li>
		<li id="closeall">关闭全部 </li>
</ul>
</div>
<!--_footer 作为公共模版分离出去-->



<script type="text/javascript" src="{{url_for('static',filename='js/jquery/1.9.1/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/layer/2.4/layer.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/h-ui/js/H-ui.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/h-ui.admin/js/H-ui.admin.js')}}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.contextmenu/jquery.contextmenu.r2.js')}}"></script>
<script type="text/javascript">

</script>


</body>
</html>