{% extends "base.html" %}

{% block title %}用例编辑{% endblock %}


{% block navbar %}
<section class="content-header">
    <h1>用例编辑/添加</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">用例管理</li>
        <li class="active">用例编辑</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box box-primary">
    <form method="post">
        {{form.hidden_tag()}}
        <div class="box-header with-border">
            {% include 'message.html' %}
        </div>

        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.task_id.label}}</label>
                    {{form.task_id(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.task_son_id.label}}</label>
                    {{form.task_son_id(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.task_url.label}}</label>
                    {{form.task_url(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.task_method.label}}</label>
                    {{form.task_method(class_="form-control select2",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.task_name.label}}</label>
                    {{form.task_name(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.task_data.label}}</label>
                    {{form.task_data(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.auth_name.label}}</label>
                    {{form.auth_name(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{form.task_future_result.label}}</label>
                    {{form.task_future_result(class_="form-control",placeholder="请输入")}}
                </div>
            </div>
        </div>

        <div class="box-footer">
            <div class="col-md-12">
                {{form.submit(class_="btn btn-primary pull-right")}}
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function initPage() {
        $(".select2").select2();
    }
</script>
{% endblock %}