{% include "common_header.html" %}
<title>{% block title %}测试报告展示{% endblock %}</title>
{% block header %}{% endblock %}

{% block main_content %}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 用例管理
    <span class="c-gray en">&gt;</span> 测试报告展示
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>


<div class="page-container">
	<div class="text-c">
		<div class="Huiform">
			<input type="text" class="input-text" style="width:250px" placeholder="报告名称" id="search_key" name="search_key">
			<button type="submit" class="btn btn-success" id="do_search" name="do_search" >
                <i class="Hui-iconfont">&#xe665;</i> 搜索报告名称
            </button>
		</div>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">共有数据：<strong>{{ paginate.total }}</strong> 条</span>
    </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="10">测试报告展示</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th>ID</th>
				<th>报告名称</th>
				<th>成功数量</th>
                <th>失败数量</th>
                <th>错误数量</th>
                <th>完成时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		    {% for report in reports %}
			<tr class="text-c">
				<td><input type="checkbox" value="{{report.id}}" name="smallBox" id="smallBox"></td>
				<td>{{report.id}}</td>
				<td>{{report.report_name}}</td>
				<td>{{report.success_count}}</td>
                <td>{{report.fail_count}}</td>
                <td>{{report.error_account}}</td>
                <td>{{report.finished_time}}</td>
				<td>
                    <a type="button" title="展示" href="javascript:;" onclick="report_show('报告展示','{{url_for('admin.list_show_report',name=report.report_name)}}','{{report.report_name}}','','310')" class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe720;</i>
                    </a>
                    <a title="下载" href="{{url_for('admin.download',filename=report.report_name)}}"  class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe640;</i>
                    </a>
                </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!--_分页开始-->
    <div class="dataTables_wrapper">
	    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">共{{paginate.pages}}页 </div>

        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">

            <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" href='{{ url_for("admin.list_show_report_index") }}?page=1' >首页</a>
            <!--_如果有上一页-->
            {% if paginate.has_prev %}
            <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" href='{{ url_for("admin.list_show_report_index") }}?page={{ paginate.prev_num }}' >上一页</a>
            {% else %}
            <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" href="#" >上一页</a>
            {% endif %}

            <span>
                <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">{{paginate.page}}</a>
            </span>

            {% if paginate.has_next %}
		    <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"  href='{{ url_for("admin.list_show_report_index") }}?page={{ paginate.next_num }}'>下一页</a>

		    {% else %}

		    <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"  href="#">下一页</a>

            {% endif %}

		    <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"  href='{{ url_for("admin.list_show_report_index") }}?page={{ paginate.pages }}'>尾页</a>

		</div>

	<!--_分页结束-->
    </div>
</div>


{% endblock %}
{% include "common_footer.html" %}
{% block footr_css_js %}

<!--请在下方写此页面业务相关的脚本-->

<script src="{{ url_for('static',filename='js/datatables/1.10.0/jquery.dataTables.min.js') }}"></script>

<script type="text/javascript">
    /*搜索*/
    $(document).ready(function () {
        $("#do_search").click(function(){
         var key=$("#search_key").val();
           location.href="{{url_for('admin.list_search_report')}}?page={{paginate.page}}&key=" +key;
        });
    });
</script>

<script type="text/javascript">
    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
    /*报告展示*/
    function report_show(title,url,name,w,h){
        $.ajax({
                type: 'GET',
                url: "{{ url_for('admin.list_show_report') }}",
                data : {　　　　　　　　　　　
    　　　　　　　　name :name,                             　
    　　　　　　},
                success: function(data){

                },
                error:function(data) {

                },
            });

        layer_show(title,url,w,h);
    }

</script>

{% endblock %}
