{% include "common_header.html" %}
<title>{% block title %}登录日志展示{% endblock %}</title>
{% block header %}{% endblock %}


<html>
<body>


{% block main_content %}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span> 系统管理
    <span class="c-gray en">&gt;</span> 登录日志展示
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>


<div class="page-container">
	<div class="text-c">
		<div class="Huiform">
			<input type="text" class="input-text" style="width:250px" placeholder="搜索用户名" id="search_key" name="search_key">
			<button type="submit" class="btn btn-success" id="do_search" name="do_search" >
                <i class="Hui-iconfont">&#xe665;</i> 搜索用户名
            </button>
		</div>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="r">共有数据：<strong>{{ paginate.total }}</strong> 条</span>
    </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="12">登录日志展示</th>
			</tr>
			<tr class="text-c">
				<th>描述</th>
				<th>登录IP</th>
                <th>登陆时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		    {% for log in logs %}
			<tr class="text-c">
				<td>{{log.operate}}</td>
				<td>{{log.ip}}</td>
				<td>{{log.time}}</td>
				<td>
                    <a title="删除" href="javascript:;" onclick="admin_permission_del(this,id='{{log.id}}')" class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe6e2;</i>
                    </a>
                </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!--_分页开始-->
    <div class="dataTables_wrapper">
	    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">共{{paginate.pages}}页 </div>

        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">

            <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" href='{{ url_for("admin.logs_login") }}?page=1' >首页</a>
            <!--_如果有上一页-->
            {% if paginate.has_prev %}
            <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" href='{{ url_for("admin.logs_login") }}?page={{ paginate.prev_num }}' >上一页</a>
            {% else %}
            <a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" href="#" >上一页</a>
            {% endif %}

            <span>
                <a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">{{paginate.page}}</a>
            </span>

            {% if paginate.has_next %}
		    <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"  href='{{ url_for("admin.logs_login") }}?page={{ paginate.next_num }}'>下一页</a>

		    {% else %}

		    <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"  href="#">下一页</a>

            {% endif %}

		    <a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0"  href='{{ url_for("admin.logs_login") }}?page={{ paginate.pages }}'>尾页</a>

		</div>

	<!--_分页结束-->
    </div>
</div>


{% endblock %}
{% include "common_footer.html" %}
{% block footr_css_js %}

<!--请在下方写此页面业务相关的脚本-->

<script src="{{ url_for('static',filename='js/datatables/1.10.0/jquery.dataTables.min.js') }}"></script>

<script type="text/javascript">
    /*搜索*/
    $(document).ready(function () {
        $("#do_search").click(function(){
         var key=$("#search_key").val();
           location.href="{{url_for('admin.logs_login_search')}}?page={{paginate.page}}&key=" +key;
        });
    });
</script>

<script type="text/javascript">

    /*管理员-权限-删除*/
    function admin_permission_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: "{{ url_for('admin.list_single_del') }}",
                dataType: 'json',
                data : {　　　　　　　　　　　
    　　　　　　　　id :id,                             　
    　　　　　　},
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }

</script>

{% endblock %}
</body>
</html>