{% extends "base.html" %}

{% block title %}报告预览{% endblock %}
{% block navbar %}
<section class="content-header">
    <h1>报告预览</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">报告展示</li>
        <li class="active">报告预览</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        {% include 'message.html' %}
    </div>

    <div class="box-body">
        {% if form %}
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>测试名称</th>
                <th>报告编号</th>
                <th>成功次数</th>
                <th>失败次数</th>
                <th>错误次数</th>
                <th>完成时间</th>
                <th>报告预览</th>
                <th>报告分析</th>
                <th>下载</th>
            </tr>
            {% for row in form.content %}
            <tr>
                <td>{{row.id}}</td>
                <td>{{row.task_name}}</td>
                <td>{{row.report_id}}</td>
                <td>{{row.success_count}}</td>
                <td>{{row.fail_count}}</td>
                <td>{{row.error_count}}</td>
                <td>{{row.finish_time}}</td>
                <td><a class='fa fa-lg fa-shekel text-blue' href='{{ url_for("main.show_report_demo", id=row.id) }}'></a></td>
                <td><a class='fa fa-lg fa-pie-chart text-yellow' href='{{ url_for("main.analysis_report", id=row.id,task_name=row.task_name) }}'></a></td>
                <td><a class='fa fa-lg fa-download text-green' href='?action=download&id={{row.id}}'></a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

    <div class="box-footer clearfix">
        {% if form %}
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            {% for i in range(1, form.total_page + 1) %}
            {% if i == form.page %}
            <li><a href="?page={{i}}"><b>{{i}}</b></a></li>
            {% else %}
            <li><a href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="#">&raquo;</a></li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}