<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="header">
        <a href="{{url_for('admin.list_show')}}">返回原页面</a>
    </div>
    {% if mag %}
    <h1>{{msg}}</h1>
    {% endif %}
    <div class="body">
        <form method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>该文本单个上传限制为 <strong>{{ size }}M</strong> .</li>
                <li>支持上传的文件有： (<strong>{{ info }}</strong>) 这些文件是被允许上传的.</li>
            </ul>
        </div>
    </div>
</body>
</html>